*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    width: 1280px;
    margin: auto;
}

.btn-1{
    background: #8146FF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}

.btn-2{
    background: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}

.btn-3{
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}

.btn-4{
    background: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}

.sch{
    width: 150%;
    height: 30px;
    align-items: center;
    display: flex;
}

.card{
    background-color: white;
    box-shadow: 0px 0px 15px 1px #0000001c
}

.grey-1{
    background-color: rgb(247, 247, 247);
}

.grey-2{
    background-color: #CEC3E5;
}

.merah-1{
    background-color: tomato;
}

.merah-2{
    background-color: rgb(255, 59, 59);
}

.merah-3{
    background-color: red;
}

.ungu-1{
    background-color: rgb(255, 130, 255);
}

.ungu-2{
    background-color: #cfb8ff;
}

.ungu-3{
    background-color: #8146FF;
}

.ungu-4{
    color: #8146FF;
}

.h-full{
    height: 100vh;
}

.h-500{
    height: 500px;
}

.h-300{
    height: 300px;
}

.h-200{
   height: 200px; 
}

.h-100{
    height: 100px;
}

.h-80{
    height: 80px;
}

.h-50{
    height: 50px;
}

.h-30{
    height: 30px;
}

.w-full{
    width: 100%;
}

.w-

.w-90{
    width: 90%;
}

.w-55{
    width: 55%;
}

.w-5{
    width: 50%;
}

.w-45{
    width: 45%;
}

.w-30{
    width: 30%;
}

.w-500{
    width: 500px;
}

.w-300{
    width: 300px;
}

.w-200{
    width: 200px;
}

.w-170{
    width: 170px;
}

.w-150{
    width: 150px;
}

.w-100{
    width: 100px;
}

.w-80{
    width: 80px;
}

.w-70{
    width: 70%;
}

.w-50{
    width: 50px;
}

.flex{
    display: flex;
}

.inline{
    display: inline;
}

.block{
    display: block;
}

.m-bottom{
    margin-bottom: 20px;
}

.m-right{
    margin-right: 20px;
}

.m-left{
    margin-left: 70px;
}

.m-auto{
    margin: auto;
}

.br-100{
    border-radius: 100%;
}

.t-center{
    text-align: center;
}

.t-right{
    text-align: right;
}

.l-height{
    line-height: 1.5;
}

.td-none{
    text-decoration: none;
}

.jc-center{
    justify-content: center;
}

.jc-right{
    justify-content: right;
}

.jc-between{
    justify-content: space-between;
}

.a-center{
    align-items: center;
}

.p-tb{
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-tb2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-tb1{
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-10{
    padding: 10px;
}

.p-t{
    padding-top: 20px;
}

.p-b{
    padding-bottom: 20px;
}

.p-left{
    padding-left: 20px;
}

.p-right{
    padding-right: 20px;
}

.p-all{
    padding: 30px;
}

.fs-14{
    font-size: 14px;
}

.fs-18, .fs-a a{ 
    font-size: 18px;
}

.fs-60{
    font-size: 60px;
}

.fs-50{
    font-size: 55px;
}

.fs-20{
    font-size: 20px;
}

.fs-24{
    font-size: 24px;
}

.bold{
    font-weight: bold;
}

.c-white{
    color: white;
}

@media only screen and (max-width: 600px) {
    .m-block{
        display: block;
    }
    .w-45{
        width: 100%;
    }
    .fs-50{
        font-size: 30px;
    }
    .fs-60{
        font-size: 50px;
    }
}

@media only screen and (max-width: 280px) {
    .m-block{
        display: block;
    }
    .w-45{
        width: 100%;
    }
    .fs-50{
        font-size: 10px;
    }
    .fs-60{
        font-size: 50px;
    }
}